.centrar{
        position: absolute;
        top: 20%;
        left: 1%;
        font-size: 25px;
}
.logo{
    padding-top: 40%;
    height: 70%;

}

.text-log{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.log{
    margin-right: 10px;
    text-align: center;
}

.img-med{
    height: 70%;
}